/* Here the objective is to display a green border on the left
if a field of the checkbox is required and valid and we display
a red border for elements that are not of type form
  */


/* ng-valid and ng-invalid are classes provided by angular */
.ng-valid[required] {
    border-left: 5px solid #94d82d;
}

/* In the case of an error, we want to indicate that there is a problem by indicating on all the fields on the left a red border except on the form */
.ng-invalid:not(form) {
    border-left: 5px solid #D32F2F;
}