<!DOCTYPE html>
<nav id="navbarid">
    <a class="user-list" (click)="gotToUserList()">Users List</a>
    <div >
        <button (click)="goToRegisterPage()" class="nav-register">Register</button>
        <button (click)="goToLoginPage()" class="nav-login">Login</button>
        <button (click)="logout()" class="nav-logout">Logout</button>
    </div>
</nav>
<router-outlet></router-outlet>


<!-- <div class="nav-wrapper teal">
    <a href="#" class="brand-logo center" >Pokedex</a>
</div> -->
