<form *ngIf="currentloguser" (ngSubmit)="onSubmit()" class="sign-up-form" id="signupform" #logForm="ngForm">

    <div class="mb-3">
        <label for="email" >Email</label>
        <input type="email" name="email"  required [(ngModel)]="currentloguser.email" class="form-control" id="signUpEmail" #email="ngModel" />
    </div>

    <div class="mb-3">
        <label for="password" >Mot de passe</label>
        <input type="password" name="password" required [(ngModel)]="currentloguser.password" class="form-control" id="signUpPwd" #password="ngModel" />
    </div>
    <button type="submit" class="btn btn-success" [disabled]="!logForm.form.valid" >Connexion</button>

</form>
