<div class="container" >
    <div class="row">

        <div *ngFor="let user of usersData" class="col m4 s6">
            <div class="card-stacked">
                <p> {{user.firstname}}  {{user.lastname}} </p>
                <p> {{user.email}} </p>
                <p> {{user.created}} </p>
                <hr>
            </div>
        </div>
    </div>

</div>
<div class="center">
    <a routerLink="/pokemons" class="waves-effect waves-teal btn-flat">
        Retourner à l' accueil
    </a>
</div>

