
<form *ngIf="currentuser" (ngSubmit)="onSubmit()" class="sign-up-form" id="signupform" #userForm="ngForm">

    <div class="signup mb-3">
        <label for="lastname" >Nom de famille</label>
        <input type="text" name="lastname"  required [(ngModel)]="currentuser.lastname" class="form-control" id="signuplastname" #lastname="ngModel" />
    </div>

    <div class="mb-3">
        <label for="firstname">Prénom</label>
        <input type="text" name="firstname"  required [(ngModel)]="currentuser.firstname" class="form-control" id="signupfirstname" #firstname="ngModel" />
    </div>

    <div class="mb-3">
        <label for="email" >Email</label>
        <input type="email" name="email"  required [(ngModel)]="currentuser.email" class="form-control" id="signUpEmail" #email="ngModel" />
    </div>

    <div class="mb-3">
        <label for="password" >Mot de passe</label>
        <input type="password" name="password" required [(ngModel)]="currentuser.password" class="form-control" id="signUpPwd" #password="ngModel" />
        <!-- <p className='text-danger mt-1'> validation </p> -->
    </div>
    <button type="submit" class="btn btn-success" [disabled]="!userForm.form.valid" >Create Account</button>
</form>