<h2 class="center">Editer {{ pokemon?.name }} </h2>
<p *ngIf="pokemon" class="center">
    <img [src]="pokemon.picture" >
</p>
<app-pokemon-form *ngIf="pokemon" [currentPokemon]="pokemon"></app-pokemon-form>
