/* You can add global styles to this file, and also import other style files */
*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#navbarid {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.nav-register, .nav-login, .nav-logout {
    margin: 10px;
    padding: 7px;
}
.user-list {
    margin-right: 80%;
}

nav{
    background-attachment: fixed;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}