<h3 class="center" style="color: #223A5E;" >Liste de Pokemon</h3>

<div class="container">
    <div class="row">
        <div *ngFor="let pokemon of pokemonDatas.data" class="col m4 s6">
            <div (click)="displayPokemonDetail(pokemon)" class="card horizontal" appBorderCard >
                <div class="card-image">
                    <img [src]="pokemon.picture">
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <p> {{pokemon.name}} </p>
                        <p> {{ pokemon.origin }} </p>
                        <p> <small> {{ pokemon.created | date:"dd/MM/yyyy"}} </small></p>
                        <span *ngFor="let type of pokemon.types" class="{{ type | pokemonTypeColor }}" > 
                            {{type}}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<a routerLink="/pokemons/create" class="btn-floating btn-large waves-effect waves-light green z-depth-3" style="position: fixed; bottom: 250px; right: 50px;">Créer</a>