<p>nav-bar works!</p>
<div>
    <nav class="navbar navbar-light bg-light px-4" id="navbarid">
        <a class="navbar-brand">Home</a>
        <div>
            <a class="navbar-brand" >Create Tasks</a>
            <a class="navbar-brand" >Users List</a>
            <a ta class="navbar-brand" >Tasks List</a>
        </div>

        <div>
            <button class="btn btn-primary" >Register</button>
            <button class="btn btn-primary ms-2">Login</button>
            <button class="btn btn-primary ms-2">Logout</button>
        </div>
                
    </nav>
</div>

